body {
    text-align: right;
}
.header-left {
    text-align: right;
}
.header-left .header-left-card ul {
    padding-left: unset;
    padding-right: 0;
}
.header-left .header-left-card ul li::before {
    right: -20px;
    left: auto;
}
.header-left .header-left-card ul li .head-icon {
    left: auto;
    right: 0;
}
.header-left .header-left-card ul li a {
    margin-left: unset;
    margin-right: 30px;
}
.header-left .header-left-card ul li:last-child {
    margin-right: unset;
    margin-left: 0;
}
.header-left .header-left-card ul li {
    margin-right: unset;
    margin-left: 35px;
}
.header-right {
    float: left;
}
.top-social-link {
   float: left;
}
.form-control {
    text-align: right;
}
.navbar-brand {
    margin-right: 0;
}
.navbar-area .main-nav .navbar .navbar-nav {
    margin-right: auto;
    margin-left: 0;
}
.navbar-area .main-nav .navbar .navbar-nav .nav-item .dropdown-menu {
    right: 0;
    left: auto;
    text-align: right;
}
.navbar-area .main-nav .navbar .navbar-nav .nav-item .dropdown-menu .nav-item .dropdown-menu {
    right: 100%;
}
.main-nav nav .navbar-nav .nav-item .dropdown-menu li a::before {
    left: unset;
    right: 0;
}
.main-nav nav .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
    right: 100%;
    top: 20px;
    left: auto;
}  
.main-nav .others-options .option-item {
    margin-left: 20px;
    margin-right: unset;
}
  
.main-nav .others-options .option-item:last-child {
    margin-left: unset;
    margin-right: unset;
}

.side-nav-responsive .dot-menu {
    right: auto;
    left: 60px;
}

.side-nav-responsive .side-nav-inner .side-nav .option-item {
    margin-left: 10px;
    margin-right: unset;
}
.side-nav-responsive .side-nav-inner .side-nav .option-item:last-child {
    margin-left: 10px;
    margin-right: unset;
}
.side-nav-responsive .side-nav-inner .side-nav .side-item {
    padding-left: unset;
    padding-right: 10px;
}
.side-nav-responsive .side-nav-inner .side-nav .side-item:last-child {
    padding-left: unset;
    padding-right: 10px;
}

.search-overlay.search-popup {
    left: 0;
    right: auto;
}
.search-overlay.search-popup .search-form .search-button {
    left: 0;
    right: auto;
}
.search-overlay.search-popup .search-form .search-input {
    padding-left: unset;
    padding-right: 10px;
}

.banner-img {
    left: 0%;
    right: auto;
}
.banner-img-2 {
    left: 5%;
    right: auto;
}
.banner-bottom-card .content {
    padding-right: 95px;
    padding-left: unset;
}
.banner-bottom-card i {
    right: 0;
    left: auto;
}
.inner-banner::before {
    background-image: linear-gradient(to right,  #002e7954, #002F79);
}
.inner-banner-shape .shape1 {
    right: 0;
    left: auto;
}
.inner-banner-shape .shape2 {
    right: 15%;
    left: auto;
}
.inner-banner .inner-title ul li {
    margin-left: 40px;
    margin-right: unset;
}
.inner-banner .inner-title ul li::before {
    left: -30px;
    right: auto;
}
.about-content {
    margin-right: 30px;
    margin-left: unset;
}
.about-content .about-card .content {
    padding-right: 85px;
    padding-left: unset;
}
.about-content .about-card i {
    right: 0;
    left: auto;
}
.about-right-img .about-open-hours {
    right: 0;
    left: auto;
}
.about-right-img .about-open-hours ul li span {
    float: left;
}
.about-right-img .about-open-hours ul li::before {
    right: 31%;
}
.case-study-card::before {
    left: 0;
    right: 0;
    top: 105px;
    line-height: 1.4;
}
.appointment-form {
    margin-left: 45px;
    margin-right: unset;
}
.appointment-from .nice-select {
    text-align: right !important;
}
.appointment-from .nice-select::after {
    left: 23px;
    right: auto;
}
.appointment-from .nice-select .list .option {
    text-align: right;
}
.appointment-img-2 {
    right: auto;
    left: 7%;
}
.appointment-widget-right .appointment-hours ul li span {
    float: left;
}
.appointment-widget-right .appointment-hours ul li::before {
    left: 24%;
    right: 31%;
}
.consultancy-content {
    margin-left: unset;
    margin-right: -200px;
}

.consultancy-content .consultancy-form .nice-select {
    text-align: right !important;
}
.consultancy-content .consultancy-form .nice-select::after {
    left: 23px;
    right: auto;
}
.consultancy-content .consultancy-form .nice-select .list .option {
    text-align: right;
}
.emergency-area::before {
    background-image: linear-gradient(to right,  #002f7954, #002F79);
}
.emergency-content .emergency-icon-content {
    padding-right: 75px;
    padding-left: unset;
}
.emergency-content .emergency-icon-content i {
    right: 0;
    left: unset;
}
.emergency-shape {
    right: 0;
    left: auto;
}
.emergency-content-ptb {
    margin-right: 80px;
    margin-left: unset;
}
.prescription-bg-3::before {
    background-image: linear-gradient(to right, #002f7954, #002F79 );
}
.prescription-content {
    margin-left: unset;
    margin-right: 90px;
}
.prescription-shape {
    right: 5%;
    left: auto;
}
.prescription-bg-2::before {
    background-image: linear-gradient(to right,#002f7954, #002F79);
}
.prescription-shape-2 {
    right: 5%;
    left: auto;
}
.insurance-img {
    right: auto;
    left: 0;
}
.product-card .content .product-btn .wishlist-btn {
    left: 0;
    right: auto;
}
.product-search-widget .product-search-form button {
    left: 0;
    right: auto;
}

.product-top-bar-ordering .nice-select {
    text-align: right !important;
    padding: 20px 20px 17px 35px;
}
.product-top-bar-ordering .nice-select::after {
    left: 23px;
    right: auto;
}
.product-top-bar-ordering .nice-select .list .option {
    text-align: right;
}
.best-product-card {
    padding-right: 120px;
    padding-left: unset;
}
.best-product-card img {
    right: 0;
    left: auto;
}
.best-product-card .cart-btn {
    left: 0;
    right: auto;
}
.product-slider .owl-nav .owl-prev {
    left: 0;
    right: auto;
}
.product-slider .owl-nav .owl-next {
    left: 50px;
    right: auto;
}
.blog-card-side ul li span {
    left: 0;
    right: auto;
}
.blog-card-side ul li i {
    margin-left: 10px;
    margin-right: unset;
    float: right;
    position: relative;
    top: -3px;
}
.blog-card .content ul li span {
    left: 0;
    right: auto;
}
.blog-item .content .topic {
    left: 20px;
    right: auto;
}
.blog-item .blog-item-img .date {
    right: 20px;
    left: auto;
}
.blog-article .blog-status ul li {
    margin-right: unset;
    margin-left: 30px;
}
.blog-article .blog-article-share .social-icon {
    float: left;
}
.blog-article .comments-wrap ul li {
    padding-right: 100px;
    padding-left: unset;
}
.blog-article .comments-wrap ul li img {
    left: auto;
    right: 0;
}
.blog-article .comments-wrap ul li a {
    left: 30px;
    right: auto;
}
.blog-article .comments-wrap ul li.ml-60 {
    margin-right: 60px;
    margin-left: unset;
}
.search-widget .search-form button {
    left: 0;
    right: auto;
}
.side-bar-widget .side-bar-categories ul li span {
    float: left;
}
.side-bar-widget .widget-popular-post .item .thumb {
    float: right;
    margin-left: 15px;
    margin-right: unset;
}
.side-bar-widget .blog-gallery {
    padding-right: 0;
    padding-left: unset;
}
.testimonials-slider {
    margin-left: 150px;
    margin-right: -150px;
}
.testimonials-slider-area .owl-nav .owl-prev {
    left: 290px;
}
.testimonials-slider-area .owl-nav .owl-next {
    left: 345px;
}
.testimonials-slider::before {
    top: 80px;
}
.testimonials-slider-two::before {
    top: -45px;
    line-height: 0;
}
.service-categories ul li a i {
    float: left;
}
.service-open-hours ul li span {
    float: left;
}
.contact-widget-right .contact-list li {
    padding-right: 35px;
    padding-left: unset;
}
.contact-widget-right .contact-list li i {
    margin-left: 5px;
    margin-right: unset;
    right: 0;
    left: auto;
}
.newsletter-form .subscribe-btn {
    left: 0;
    right: auto;
    border-radius: 5px 0 0 5px;
}
.subscribe-shape {
    left: auto;
    right: 15%;
}
.faq-bg::after {
    left: 0;
    right: auto;
}
.faq-bg::before {
    left: 0;
    right: auto;
}
.faq-counter-area {
    margin-right: 80px;
    margin-left: unset;
}
.faq-accordion .accordion {
    padding-left: unset;
    padding-right: 0;
}
.faq-accordion .accordion .accordion-title i {
    left: 15px;
    right: auto;
}
.faq-accordion .accordion .accordion-title {
    padding: 10px 15px 10px 40px;
}
.newsletter-form .form-control {
    text-align: right;
}
.footer-widget .open-hours-list li span {
    float: left;
}
.footer-widget .footer-contact-list li {
    padding-right: 35px;
    padding-left: unset;
}
.footer-widget .footer-contact-list li i {
    margin-left: 5px;
    margin-right: unset;
    right: 0;
    left: unset;
}
.footer-widget .open-hours-list li::before {
    right: 30%;
    left: 25%;
}
#toTop {
    left: 20px;
    right: auto;
}
.product-details-shape {
   z-index: -1;
}
.product-desc .price .old-price {
    margin-left: unset;
    margin-right: 10px;
}
.product-desc .product-review .rating-count {
    margin-right: 5px;
    margin-left: unset;
}
.product-desc .product-add-btn .default-btn {
    margin-left: 20px;
    margin-right: unset;
}
.product-desc .product-share ul li span {
    margin-left: 5px;
    margin-right: unset;
}
.products-tabs-reviews ul li {
    padding-right: 200px;
    padding-left: unset;
}
.products-tabs-reviews ul li img {
    left: auto;
    right: 90px;
}
.products-tabs-reviews ul li .content .rating {
    margin-left: 20px;
    margin-right: unset;
}
.products-tabs-reviews ul li .content .rating::before {
    right: auto;
    left: -13px;
}
.cart-wraps-area .cart-table table tbody tr td.product-subtotal .remove {
    float: left;
}
.cart-wraps-area .cart-totals ul li span {
    float: left;
}
.cart-wraps-area .cart-calc .nice-select:after {
    left: 15px;
    right: auto;
}
.cart-wraps-area .cart-calc .nice-select {
    text-align: right !important;
    padding-left: 40px;
    padding-right: 18px;
}
.cart-wraps-area .cart-calc form .nice-select .list .option {
    text-align: right;
}
.billing-details .form-group .nice-select:after {
    left: 15px;
    right: auto;
}
.billing-details .form-group .nice-select {
    text-align: right !important;
    padding-left: 40px;
    padding-right: 18px;
}
.billing-details .form-group .nice-select .list .option {
    text-align: right;
}
.billing-details .form-check .form-check-label {
    margin-right: 30px;
    margin-left: auto;
}
.order-details .payment-box .payment-method p [type="radio"]:checked + label {
    padding-right: 27px;
    padding-left: unset;
}
.order-details .payment-box .payment-method p [type="radio"]:checked + label::before {
    right: 0;
    left: auto;
}
.order-details .payment-box .payment-method p [type="radio"]:checked + label::after {
    right: 3px;
    left: auto;
}
.order-details .payment-box .payment-method p [type="radio"]:not(:checked) + label::before {
    right: 0;
    left: auto;
}
.order-details .payment-box .payment-method p [type="radio"]:not(:checked) + label::after {
    right: 0;
    left: auto;
}
.order-details .payment-box .payment-method p [type="radio"]:not(:checked) + label {
    padding-right: 27px;
    padding-left: unset;
}
.order-details .payment-box .order-btn::before {
    left: auto;
    right: 0;
}
.order-details .payment-box .order-btn::after {
    right: auto;
    left: 0;
}
.order-details .payment-box .order-btn:hover::before {
    right: auto;
    left: 0;
}
.order-details .payment-box .order-btn:hover::after {
    left: auto;
    right: 0;
}

.user-all-form .contact-form .forget {
    float: left;
}
.coming-soon-area .coming-soon-content .newsletter-form button {
    left: 0;
    right: auto;
}
.coming-soon-area .coming-soon-content .newsletter-form .input-newsletter {
    padding-right: 15px;
    padding-left: unset;
    text-align: right;
}
.switch-box {
    left: 120px !important;
    right: auto !important;
  }
  
  .buy-now-btn {
    left: 20px;
    right: auto;
  }
/*
Responsive CSS
============================*/
@media only screen and (max-width: 767px) {
    .header-left {
        text-align: center;
    }
    .header-left .header-left-card ul li {
        margin: 0 7px;
    }
    .header-right {
        float: none;
    }
    .top-social-link {
        float: none;
    }
    .search-overlay.search-popup {
        left: -40px;
        right: auto;
    }
    .mean-container a.meanmenu-reveal {
        left: 15px !important;
        right: auto !important;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        width: 90%;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        text-align: left;
        left: 0;
        right: auto;
    }
    .mean-container .mean-nav ul li a {
        text-align: right;
    }
    .mobile-nav .logo {
        right: 15px !important;
        left: auto !important;
    }
    .side-nav-responsive .container .container {
        left: 20px;
        right: auto;
    }
    .banner-img-2 {
        left: auto;
        right: auto;
    }
    .banner-bottom-card .content {
        padding-right: 65px;
        padding-left: unset;
    }
    .about-content {
        margin-right: 0;
        margin-left: unset;
    }
    .about-right-img .about-open-hours {
        right: 0;
        left: 0;
    }
    .appointment-img-2 {
        right: 0;
        left: 0;
    }
    .consultancy-content {
        margin-left: unset;
        margin-right: 0;
    }
    .prescription-content {
        margin-right: auto;
        margin-left: auto;
    }
    .emergency-content .emergency-icon-content {
        padding-right: 55px;
        padding-left: unset;
    }
    .emergency-content-ptb {
        margin-right: 30px;
        margin-left: unset;
    }
    .insurance-img {
        right: 0;
        left: 0;
    }
    .product-slider .owl-nav .owl-prev {
        right: auto;
        left: 32%;
    }
    .product-slider .owl-nav .owl-next {
        left: auto;
        right: 32%;
    }
    .product-desc .product-add-btn .default-btn {
        margin-left: 10px;
        margin-right: unset;
    }
    .products-tabs-reviews ul li {
        padding-right: 0;
        padding-left: unset;
    }
    .blog-article .blog-article-share .social-icon {
        float: none;
    }
    .blog-article .comments-wrap ul li {
        padding-right: 0;
        padding-left: unset;
    }
    .blog-article .comments-wrap ul li a {
        left: 0;
        right: auto;
    }
    .blog-article .comments-wrap ul li.ml-60 {
        margin-right: 0;
        margin-left: unset;
    }
    .faq-counter-area {
        margin-left: auto;
        margin-right: auto;
    }
    .testimonials-slider {
        margin-left: auto;
        margin-right: auto;
    }
    .testimonials-slider-area .owl-nav .owl-next {
        top: unset;
        bottom: 40px;
        left: auto;
        right: 30%;
    }
    .testimonials-slider-area .owl-nav .owl-prev {
        top: unset;
        bottom: 40px;
        left: 30%;
    }
    .newsletter-form .subscribe-btn {
        border-radius: 5px;
    }
    .user-all-form .contact-form .forget {
        float: none;
    }
}
@media (min-width: 576px) {
    .offset-sm-3 {
        margin-left: 25%;
        margin: auto;
    }
}

@media only screen and (min-width : 576px) and (max-width : 767px) {
    .product-slider .owl-nav .owl-prev {
        right: auto;
        left: 38%;
    }
    .product-slider .owl-nav .owl-next {
        left: auto;
        right: 38%;
    }
    .testimonials-slider-area .owl-nav .owl-prev {
        left: 38%;
    }
    .testimonials-slider-area .owl-nav .owl-next {
        right: 38%;
    }
    .user-all-form .contact-form .forget {
        float: left;
    }
}

@media only screen and (min-width : 768px) and (max-width : 991px) {
    .header-left .header-left-card ul li {
        margin-right: unset;
        margin-left: 8px;
    }
    .header-left .header-left-card ul li::before {
        right: -8px;
        left: auto;
    }
    .search-overlay.search-popup {
        left: -40px;
        right: auto;
    }
    .mean-container a.meanmenu-reveal {
        left: 15px !important;
        right: auto !important;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        width: 90%;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        text-align: left;
        left: 0;
        right: auto;
    }
    .mean-container .mean-nav ul li a {
        text-align: right;
    }
    .mobile-nav .logo {
        right: 15px !important;
        left: auto !important;
    }
    .side-nav-responsive .container .container {
        left: 20px;
        right: auto;
    }
    .banner-img-2 {
        left: 0;
        right: 0;
    }
    .banner-bottom-card .content {
        padding-right: 65px;
        padding-left: unset;
    }
    .about-content {
        margin-right: 0;
        margin-left: unset;
    }
    .appointment-form {
        margin-right: auto;
        margin-left: auto;
    }
    .appointment-img-2 {
        right: 0;
        left: 0;
    }
    .faq-counter-area {
        margin-left: auto;
        margin-right: auto;
    }
    .consultancy-content {
        margin-left: unset;
        margin-right: 0;
    }
    .emergency-content .emergency-icon-content {
        padding-right: 55px;
        padding-left: unset;
    }
    .emergency-content-ptb {
        margin-right: 30px;
        margin-left: unset;
    }
    .testimonials-slider {
        margin-left: auto;
        margin-right: auto;
    }
    .testimonials-slider-area .owl-nav .owl-prev {
        left: 42%;
    }
    .testimonials-slider-area .owl-nav .owl-next {
        left: auto;
        right: 42%;
    }
}

@media (min-width: 768px) {
    .offset-md-3 {
        margin-left: 25%;
        margin: auto;
    }
}

@media only screen and (min-width : 992px) and (max-width : 1199px) {
    .banner-img-2 {
        left: 0;
        right: auto;
    }
    .prescription-content {
        margin-left: unset;
        margin-right: 70px;
    }
    .case-study-card::before {
        top: 65px;
    }
    .testimonials-slider-area .owl-nav .owl-prev {
        left: 250px;
    }
    .testimonials-slider-area .owl-nav .owl-next {
        left: 310px;
    }
    .testimonials-slider::before {
        top: 110px;
    }
}
@media only screen and (min-width : 1200px) {
    .banner-content {
        padding-bottom: 180px;
    }
}
@media only screen and (min-width : 1400px) {
    .testimonials-slider-two::before {
        top: -145px;
        line-height: 0;
    }
    .banner-content {
        padding-bottom: 180px;
    }
}

@media only screen and (min-width : 1800px) {
    .banner-img {
        left: 5%;
        right: auto;
    }
    .banner-img-2 {
        left: 15%;
        right: auto;
    }
    .appointment-img-2 {
        right: auto;
        left: 20%;
    }
    .appointment-shape {
        left: 15%;
    }
    .subscribe-shape {
        left: auto;
        right: 25%;
    }
    .insurance-img {
        left: 12%;
        right: auto;
    }
}